h1
{
	margin-top: 2%;	
	font-family: impact,comic sans MS;
	letter-spacing: 5px;
	word-spacing: 7px;
	position: relative;
}

fieldset{
	width: 30%;
 	height: 60%; 
	margin-left: 30%;
	margin-top: 2%;	
	text-align: center;
}
.qr{
	margin-right: 25%;
		
}
.qr{
	margin-right: 25%;
		
}

#hero-hmpgtxt 
{
  position: relative;
  background-image: url("bg (28).jpg") ;
  width: 70%;
  height: 202%; 
  text-align: left;
  position: absolute;
  top: 20%;
  left: 13%;
  font-family: helvetica;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  box-shadow: 0 16px 20px 0 black;
}
.submitbutton 
{
    position: relative;
    background-color: #35960f;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10%;
    border-width: 2px;
}
.submitbutton:hover
{
  background-color: #226009;
 } 
